@import "tailwindcss";
/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6366f1; /* Indigo-500 */
  border-radius: 8px;
  border: 2px solid #f1f1f1; /* Padding with track color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* Indigo-600 on hover */
}


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
